* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.first-page-text {
    background-image: url(../images/seashell-beach-sea-shore-sand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-page-text div {
    padding: 7px;
    color: rgb(31, 104, 109);
    font-size: x-large;
}

.btn {
    border: 1px solid rgb(31, 104, 109);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: rgb(31, 104, 109);
}

a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(31, 104, 109);
}

.row {
    padding: 20px;
    margin: 0;
    text-align: center;
    line-height: 1.6;
}

.Row-1 {
    background: rgb(31, 104, 109);
    color: rgb(224, 196, 176);
    /* display: flex;
    justify-content: stretch;
    grid-row: 1; */
}

.Row-2 {
    background: rgb(224, 196, 176);
    color: rgb(31, 104, 109);
}

.Row-3 {
    display: flex;
    padding: 0;
}

.item {
    padding: 20px;
    height: fit-content;
    text-align: left;
}

.item-1, .item-3 {
    background: rgb(31, 104, 109);
    color: rgb(224, 196, 176);
}

.item-2 {
    background: rgb(231, 202, 181);
    color: rgb(31, 104, 109);
}